<link rel="stylesheet" href="/stylesheets/header.css" class="css">
</head>
<body>
    <header>
        <div class="header_title">
            <h1 class="title">Koraw</h1>
        </div>
    <% if (typeof myuser!=='undefined'){ %>
        <div class="header_functions">
            <div>
                <button class="header_button" type="submit">Inicio</button>
            </div>
            <div>
                <button class="header_button" type="submit">Acceder Grupo</button>
            </div>
            <form method="GET" action="/user/<%= myuser.myusername%>" class="profile_photo_div" id="profile_onclick">
                <div class="profile_photo">
                    <img src="/images/default_pfp.jpg" alt="Foto de perfil">
                </div>
            </form>
        </div>
    <% }else{ %>
        <div class="header_functions">
            <form method="GET" action="/login">
                <button class="header_button" type="submit">Login</button>
            </form>
            <form method="GET" action="/register">
                <button class="header_button" type="submit">Registrarse</button>
            </form>
        </div>
    <% }%>
    </header>

<script>
    const profile_image = document.getElementById('profile_onclick')

    profile_image.addEventListener('click', () => {
        profile_image.submit();
    });
</script>