<%- include("partials/start.ejs") -%>
<%- include("partials/header.ejs")-%>
<link rel="stylesheet" href="/stylesheets/create.css" class="css">

<div class="global">
    <div class="borders">
        <div class="title">
            <h1>Creación de grupo</h1>
        </div>
        <form method="POST" action="/creategroup" enctype="multipart/form-data">
            <div class="datos">
                <div class="textos">
                    <input type="text" minlength="1" placeholder="Título" maxlength="30" name="title" required>
                    <textarea maxlength="250" placeholder="Descripción" name="description" style="resize: none;"></textarea>
                    <input type="password" minlength="5" placeholder="Contraseña" name="password" required>
                    <input type="password" minlength="5" placeholder="Repetir contraseña" name="repeat_password" required>
                    <div class="error">
                        <% if (error) { %>
                            <p>Las contraseñas no coinciden</p>
                        <% } %>
                    </div>
                    
                </div>
                <div class="fotos">
                    <div class="foto_group">
                        <h3>Foto de Portada</h3>
                        <p>Solo se admiten .png y .jpg</p>
                        <input type="file" name="icon">
                    </div>
                    <div class="foto_group">
                        <h3>Banner</h3>
                        <p>Solo se admiten .png y .jpg</p>
                        <input type="file" name="banner">
                    </div>
                    <div class="actions">
                        <button type="submit">Crear</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<%- include("partials/end.ejs") -%>