.contain_global {
  width: 100%;
  min-height: 90vh;
  background-color: #171F1F;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contain_global .global {
  background-color: var(--color-cream);
  width: 1000px;
  color: var(--color-cream);
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-cream);
}
.contain_global .global .global_portada {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 10vh;
  width: 100%;
  min-width: 100%;
  z-index: 3;
  background-color: var(--color-dark);
}
.contain_global .global .global_portada #imagen.recogido {
  height: 20vh;
  aspect-ratio: 1/1;
}
.contain_global .global .global_portada #imagen.recogido img {
  height: 20vh;
}
.contain_global .global .global_portada #imagen {
  height: 40vh;
  position: sticky;
  transition: 0.3s ease;
  top: 10vh;
  aspect-ratio: 1/1;
}
.contain_global .global .global_portada #imagen img {
  transition: 0.3s ease;
  height: 40vh;
}
.contain_global .global .global_portada #portada.recogido {
  height: 20vh;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable {
  background-color: #045043;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .title {
  margin-top: 0;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .title h1 {
  font-size: 4.7vh;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .subtitle {
  margin-top: 0vh;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .subtitle h2 {
  font-size: 0vh;
  opacity: 0;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .functions {
  margin-top: 2vh;
}
.contain_global .global .global_portada #portada.recogido .imagen_portada {
  height: 10vh;
}
.contain_global .global .global_portada #portada {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  width: 100%;
  position: sticky;
  transition: height 0.3s ease;
  top: 10vh;
}
.contain_global .global .global_portada #portada .imagen_portada {
  transition: height 0.3s ease;
  position: absolute;
  z-index: -1;
  height: 30vh;
  width: 100%;
  overflow: hidden;
}
.contain_global .global .global_portada #portada .imagen_portada img {
  width: 100%;
}
.contain_global .global .global_portada #portada .banner_shadowable {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3294117647);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-cool);
  transition: background-color 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .title {
  margin-top: 2vh;
  height: 4vh;
  width: 100%;
  transition: margin-top 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .title h1 {
  margin-left: 5%;
  font-style: normal;
  font-size: 5vh;
  transition: font-size 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .subtitle {
  transition: margin-top 0.3s ease;
  margin-top: 4vh;
  height: 4vh;
  width: 100%;
}
.contain_global .global .global_portada #portada .banner_shadowable .subtitle h2 {
  opacity: 1;
  margin-left: 5%;
  font-style: normal;
  font-size: 3vh;
  transition: font-size, opacity 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions {
  margin-top: 16vh;
  height: 10vh;
  width: 100%;
  background-color: var(--color-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: margin-top 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .text_functions {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .text_functions form {
  height: 100%;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .text_functions form button {
  font-family: var(--font-cool);
  width: 90%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-cream);
  border-radius: 15px;
  transition: 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .text_functions form button:hover {
  cursor: pointer;
  background-color: var(--color-hover-blue);
  box-shadow: 2px 2px 16px var(--color-shadow-blue);
  height: 65%;
  width: 94%;
  font-size: 1.15rem;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .icon_functions {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .icon_functions form {
  height: 5vw;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .icon_functions form button {
  font-family: var(--font-cool);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-cream);
  border-radius: 150px;
  transition: 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .icon_functions form button:hover {
  cursor: pointer;
  background-color: var(--color-hover-blue);
  box-shadow: 2px 2px 16px var(--color-shadow-blue);
  width: 55px;
  height: 55px;
  font-size: 2.15vh;
}
.contain_global .global #content.recogido {
  margin-top: 12vh;
  margin-bottom: 10vh;
}
.contain_global .global #content {
  margin-top: 0;
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-cream);
  transition: 0.3s ease;
  margin-left: 0;
  margin-right: 0;
  z-index: 1;
}
.contain_global .global #content .element {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain_global .global #content .element .element_content {
  width: 80%;
  height: 85%;
  background: linear-gradient(to bottom, var(--color-dark), var(--color-darker));
  margin: 3%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-cream);
  cursor: pointer;
  transition: 0.3s ease;
}
.contain_global .global #content .element .element_content:hover {
  background: linear-gradient(to bottom, var(--color-darkerblue), var(--color-darkblue));
  border: 2px solid var(--color-blue);
  width: 83%;
  height: 90%;
  box-shadow: 2px 2px 16px var(--color-shadow-blue);
}
.contain_global .global #content .element .element_content div, .contain_global .global #content .element .element_content form {
  height: 85%;
  width: 90%;
}
.contain_global .global #content .element .element_content div .top, .contain_global .global #content .element .element_content form .top {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
}
.contain_global .global #content .element .element_content div .top .title, .contain_global .global #content .element .element_content form .top .title {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.contain_global .global #content .element .element_content div .top .title h1, .contain_global .global #content .element .element_content form .top .title h1 {
  color: var(--color-lightblue);
  font-family: var(--font-cool);
  font-size: 1.7rem;
}
.contain_global .global #content .element .element_content div .top .status, .contain_global .global #content .element .element_content form .top .status {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 30%;
}
.contain_global .global #content .element .element_content div .top .status h2, .contain_global .global #content .element .element_content form .top .status h2 {
  font-family: var(--font-cool);
  font-weight: normal;
}
.contain_global .global #content .element .element_content div .top .finalizado, .contain_global .global #content .element .element_content form .top .finalizado {
  color: var(--color-error);
}
.contain_global .global #content .element .element_content div .top .normal, .contain_global .global #content .element .element_content form .top .normal {
  color: var(--color-cream);
}
.contain_global .global #content .element .element_content div .top .en_curso, .contain_global .global #content .element .element_content form .top .en_curso {
  color: var(--color-blue);
}
.contain_global .global #content .element .element_content div .middle, .contain_global .global #content .element .element_content form .middle {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: justify;
}
.contain_global .global #content .element .element_content div .middle h3, .contain_global .global #content .element .element_content form .middle h3 {
  font-weight: normal;
  font-family: var(--font-cool);
  font-size: 1rem;
}
.contain_global .global #content .element .element_content div .bottom, .contain_global .global #content .element .element_content form .bottom {
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.contain_global .global #content .element .element_content div .bottom .finalizado, .contain_global .global #content .element .element_content form .bottom .finalizado {
  color: var(--color-error);
}/*# sourceMappingURL=event.css.map */