/*Add global styles to apply to all pages*/
:root 
  --color-blue: #228A78
  --color-darkblue: #045043
  --color-shadow-blue: #05362e
  --color-hover-blue: #067563
  --color-lightblue: #a3d4cc
  --color-darkblue: #0C2842
  --color-hover-lightblue: #44b8a6
  --color-purple: #451248
  --color-cream: #F3EADC
  --color-hover-cream: #e7d9c1
  --color-dark-cream: #D9D9CE
  --color-darker-cream: #817E7E
  --color-hover-darker-cream: #646262
  --color-dark: #272D2D
  --color-error: #db1717
  --color-chip-green: #49B278
  --color-chip-blue: #4987B9
  --color-darkblue: #0C2842
  --font-main: "Inter Tight", italic
  --font-cool: "Lemonada", cursive

* 
  margin: 0
  padding: 0
  box-sizing: border-box

body
  background-color: var(--color-cream)
  overflow-x: hidden
  scrollbar-width: none
  -ms-overflow-style: none

body::-webkit-scrollbar
  display: none
  
