.contain_global {
  width: 100%;
  background-color: #171F1F;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contain_global .global {
  background-color: var(--color-cream);
  width: 1000px;
  max-width: 1000px;
  color: var(--color-cream);
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-cream);
}
.contain_global .global .global_portada {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 10vh;
  width: 100%;
  min-width: 100%;
  z-index: 3;
  background-color: var(--color-dark);
}
.contain_global .global .global_portada #imagen.recogido {
  height: 20vh;
  aspect-ratio: 1/1;
}
.contain_global .global .global_portada #imagen.recogido img {
  height: 20vh;
}
.contain_global .global .global_portada #imagen {
  height: 40vh;
  position: sticky;
  transition: 0.3s ease;
  top: 10vh;
  aspect-ratio: 1/1;
}
.contain_global .global .global_portada #imagen img {
  transition: 0.3s ease;
  height: 40vh;
}
.contain_global .global .global_portada #portada.recogido {
  height: 20vh;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable {
  background-color: #045043;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .title {
  margin-top: 0;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .title h1 {
  margin-top: 3vh;
  font-size: 2vh;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .subtitle {
  margin-top: 0vh;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .subtitle h2 {
  font-size: 0vh;
  opacity: 0;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .functions {
  margin-top: 6vh;
}
.contain_global .global .global_portada #portada.recogido .imagen_portada {
  height: 10vh;
}
.contain_global .global .global_portada #portada {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  width: 100%;
  max-width: 100%;
  position: sticky;
  transition: height 0.3s ease;
}
.contain_global .global .global_portada #portada .imagen_portada {
  transition: height 0.3s ease;
  position: absolute;
  z-index: -1;
  height: 30vh;
  width: 100%;
  overflow: hidden;
}
.contain_global .global .global_portada #portada .imagen_portada img {
  width: 100%;
}
.contain_global .global .global_portada #portada .banner_shadowable {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3294117647);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-cool);
  transition: background-color 0.3s ease;
  position: relative;
}
.contain_global .global .global_portada #portada .banner_shadowable .title {
  margin-top: 2vh;
  height: 4vh;
  width: 90%;
  transition: margin-top 0.3s ease;
  word-wrap: break-word;
  word-break: break-all;
}
.contain_global .global .global_portada #portada .banner_shadowable .title h1 {
  font-size: 2vh;
}
.contain_global .global .global_portada #portada .banner_shadowable .subtitle {
  position: absolute;
  margin-top: 4vh;
  height: auto;
  width: 90%;
  word-wrap: break-word;
  word-break: break-all;
  bottom: 12vh;
  left: 5%;
}
.contain_global .global .global_portada #portada .banner_shadowable .subtitle h2 {
  opacity: 1;
  font-style: small;
  font-weight: normal;
  font-size: 5vh;
  transition: font-size, opacity 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions {
  margin-top: 24vh;
  height: 10vh;
  width: 100%;
  background-color: var(--color-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: margin-top 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .text_functions {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .text_functions form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 5%;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .text_functions form button {
  font-family: var(--font-cool);
  width: 200px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-cream);
  border-radius: 15px;
  transition: 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .text_functions form button:hover {
  cursor: pointer;
  background-color: var(--color-hover-blue);
  box-shadow: 2px 2px 16px var(--color-shadow-blue);
  height: 65%;
  font-size: 2.15vh;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .icon_functions {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .icon_functions form {
  height: 5vw;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .icon_functions form button {
  font-family: var(--font-cool);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-cream);
  border-radius: 150px;
  transition: 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .icon_functions form button:hover {
  cursor: pointer;
  background-color: var(--color-hover-blue);
  box-shadow: 2px 2px 16px var(--color-shadow-blue);
  width: 55px;
  height: 55px;
  font-size: 2.15vh;
}
.contain_global .global #content.recogido {
  margin-top: 12vh;
}
.contain_global .global #content {
  margin-top: 0;
  height: 100%;
  min-height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-cream);
  transition: margin-top 0.3s ease;
  margin-left: 0;
  margin-right: 0;
  z-index: 1;
}
.contain_global .global #content .element {
  width: 80%;
  height: 200px;
  background-color: var(--color-cream);
  margin: 3%;
  border-radius: 50px;
  border: 2px solid var(--color-dark);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-dark);
}
.contain_global .global #content .element .foto {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain_global .global #content .element .foto img {
  height: 80%;
  width: 80%;
  border-radius: 500px;
}
.contain_global .global #content .element .contenido {
  margin-left: 5%;
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.contain_global .global #content .element .contenido h2 {
  font-size: 2.5rem;
}
.contain_global .global #content .element .contenido h3 {
  font-size: 1.6rem;
  font-style: normal;
}
.contain_global .global #content .element .contenido .creador {
  color: var(--color-orange);
}
.contain_global .global #content .element .contenido .admin {
  color: var(--color-blue);
}
.contain_global .global #content .element .contenido .miembro {
  color: var(--color-dark);
}
.contain_global .global #content .element .actions {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.contain_global .global #content .element .actions form {
  margin-top: 2%;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contain_global .global #content .element .actions form button {
  font-family: var(--font-cool);
  height: 70%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3vh;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-cream);
  border-radius: 150px;
  transition: 0.3s ease;
}
.contain_global .global #content .element .actions form button:hover {
  cursor: pointer;
  background-color: var(--color-hover-blue);
  box-shadow: 2px 2px 6px var(--color-shadow-blue);
  height: 76%;
  width: 84%;
  font-size: 1.4vh;
}/*# sourceMappingURL=members.css.map */