.contain_global
    width: 100%
    background-color: #171F1F
    display: flex
    flex-direction: column
    align-items: center
    .global
        background-color: var(--color-cream)
        width: 1000px
        max-width: 1000px
        color: var(--color-cream)
        font-family: var(--font-main)
        display: flex
        flex-direction: column
        align-items: center
        background-color: var(--color-cream)

        .global_portada
            display: flex
            flex-direction: row
            position: sticky
            top: 10vh
            width: 100%
            min-width: 100%
            z-index: 3
            // margin-left: 0.3%
            background-color: var(--color-dark)
            #imagen.recogido
                height: 20vh
                aspect-ratio: 1 / 1
                img
                    height: 20vh
            #imagen
                height: 40vh
                position: sticky
                transition: 0.3s ease
                top: 10vh
                aspect-ratio: 1 / 1
                img
                    transition: 0.3s ease
                    height: 40vh
            #portada.recogido
                height: 20vh
                .banner_shadowable
                    background-color: #045043
                    .title
                        margin-top: 0
                        h1
                            margin-top: 3vh
                            font-size: 2vh
                    .subtitle
                        margin-top: 0vh
                        h2
                            font-size: 0vh
                            opacity: 0
                    .functions
                        margin-top: 6vh
                .imagen_portada
                    height: 10vh
            #portada
                background-size: cover
                background-repeat: no-repeat
                background-position: center
                height: 40vh
                width: 100%
                max-width: 100%
                position: sticky
                transition: height 0.3s ease
                .imagen_portada
                    transition: height 0.3s ease
                    position: absolute
                    z-index: -1
                    height: 30vh
                    width: 100%
                    overflow: hidden
                    img
                        width: 100%
                        
                .banner_shadowable
                    height: 100%
                    width: 100%
                    background-color: #00000054
                    display: flex
                    flex-direction: column
                    justify-content: flex-start
                    align-items: center
                    font-family: var(--font-cool)
                    transition: background-color 0.3s ease
                    position: relative
                    
                    .title
                        margin-top: 2vh
                        height: 4vh
                        width: 90%
                        transition: margin-top 0.3s ease
                        word-wrap: break-word
                        word-break: break-all

                        h1
                            font-size: 2vh
                    .subtitle
                        position: absolute
                        // transition: margin-top 0.3s ease
                        margin-top: 4vh
                        height: auto
                        width: 90%
                        word-wrap: break-word
                        word-break: break-all
                        bottom: 12vh
                        left: 5%
                        h2
                            

                            // display: none
                            opacity: 1
                            font-style: small
                            font-weight: normal
                            font-size: 5vh
                            transition: font-size, opacity 0.3s ease
                    .functions
                        
                        margin-top: 24vh
                        height: 10vh
                        width: 100%
                        background-color: var(--color-dark)
                        display: flex
                        flex-direction: row
                        justify-content: center
                        align-items: center
                        transition: margin-top 0.3s ease
                        .text_functions
                            width: 60%
                            height: 100%
                            display: flex
                            flex-direction: row
                            justify-content: space-evenly
                            form
                                height: 100%
                                width: 100%
                                display: flex
                                justify-content: left
                                align-items: center
                                margin-right: 5%
                                button
                                    font-family: var(--font-cool)
                                    width: 200px
                                    height: 60%
                                    display: flex
                                    justify-content: center
                                    align-items: center
                                    font-size: 2vh
                                    border: none
                                    background-color: var(--color-blue)
                                    color: var(--color-cream)
                                    border-radius: 15px
                                    transition: 0.3s ease
                                    &:hover
                                        cursor: pointer
                                        background-color: var(--color-hover-blue)
                                        box-shadow: 2px 2px 16px var(--color-shadow-blue)
                                        height: 65%
                                        
                                        font-size: 2.15vh
                        .icon_functions
                            width: 30%
                            display: flex
                            flex-direction: row
                            justify-content: flex-end
                            form
                                height: 5vw
                                width: 5vw
                                display: flex
                                justify-content: center
                                align-items: center
                                button
                                    font-family: var(--font-cool)
                                    width: 50px
                                    height: 50px
                                    display: flex
                                    justify-content: center
                                    align-items: center
                                    font-size: 2vh
                                    border: none
                                    background-color: var(--color-blue)
                                    color: var(--color-cream)
                                    border-radius: 150px
                                    transition: 0.3s ease
                                    &:hover
                                        cursor: pointer
                                        background-color: var(--color-hover-blue)
                                        box-shadow: 2px 2px 16px var(--color-shadow-blue)
                                        width: 55px
                                        height: 55px
                                        font-size: 2.15vh
                            
        #content.recogido
            margin-top: 12vh
        #content
            margin-top: 0
            height: 100%
            min-height: 70vh
            width: 100%
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: center
            background-color: var(--color-cream)
            transition: margin-top 0.3s ease
            margin-left: 0
            margin-right: 0
            z-index: 1
            .element
                width: 80%
                height: 200px
                background-color: var(--color-cream)
                margin: 3%
                border-radius: 50px
                border: 2px solid var(--color-dark)
                display: flex
                flex-direction: row
                justify-content: flex-start
                align-items: center
                color: var(--color-dark)
                .foto
                    height: 200px
                    width: 200px
                    display: flex
                    justify-content: center
                    align-items: center
                    
                    img
                        height: 80%
                        width: 80%
                        border-radius: 500px
                .contenido
                    margin-left: 5%
                    height: 100%
                    width: 35%
                    display: flex
                    flex-direction: column
                    justify-content: space-evenly
                    align-items: flex-start
                    h2
                        font-size: 2.5rem
                    h3
                        font-size: 1.6rem
                        // font-family: var(--font-cool)
                        font-style: normal
                    .creador
                        color: var(--color-orange)
                    .admin
                        color: var(--color-blue)
                    .miembro
                        color: var(--color-dark)
                .actions
                    height: 100%
                    width: 40%
                    display: flex
                    flex-direction: column
                    justify-content: flex-start
                    align-items: flex-end
                    form
                        margin-top: 2%
                        height: 40%
                        width: 100%
                        display: flex
                        flex-direction: column
                        justify-content: center
                        align-items: center
                        button
                            font-family: var(--font-cool)
                            height: 70%
                            width: 80%
                            display: flex
                            justify-content: center
                            align-items: center
                            font-size: 1.3vh
                            border: none
                            background-color: var(--color-blue)
                            color: var(--color-cream)
                            border-radius: 150px
                            transition: 0.3s ease
                            &:hover
                                cursor: pointer
                                background-color: var(--color-hover-blue)
                                box-shadow: 2px 2px 6px var(--color-shadow-blue)
                                height: 76%
                                width: 84%
                                font-size: 1.4vh