.contain_global
    width: 100%
    min-height: 90vh
    background-color: #171F1F
    display: flex
    flex-direction: column
    align-items: center
    .global
        background-color: var(--color-cream)
        width: 1000px
        color: var(--color-cream)
        font-family: var(--font-main)
        display: flex
        flex-direction: column
        align-items: center
        background-color: var(--color-cream)

        .global_portada
            display: flex
            flex-direction: row
            position: sticky
            top: 10vh
            width: 100%
            min-width: 100%
            z-index: 3
            // margin-left: 0.3%
            background-color: var(--color-dark)
            #imagen.recogido
                height: 20vh
                aspect-ratio: 1 / 1
                img
                    height: 20vh
            #imagen
                height: 40vh
                position: sticky
                transition: 0.3s ease
                top: 10vh
                aspect-ratio: 1 / 1
                img
                    transition: 0.3s ease
                    height: 40vh
            #portada.recogido
                height: 20vh
                .banner_shadowable
                    background-color: #045043
                    .title
                        margin-top: 0
                        h1
                            margin-top: 3vh
                            font-size: 2vh
                    .subtitle
                        margin-top: 0vh
                        h2
                            font-size: 0vh
                            opacity: 0
                    .functions
                        margin-top: 6vh
                .imagen_portada
                    height: 10vh
            #portada
                background-size: cover
                background-repeat: no-repeat
                background-position: center
                height: 40vh
                width: 100%
                max-width: 100%
                position: sticky
                transition: height 0.3s ease
                .imagen_portada
                    transition: height 0.3s ease
                    position: absolute
                    z-index: -1
                    height: 30vh
                    width: 100%
                    overflow: hidden
                    img
                        width: 100%
                        
                .banner_shadowable
                    height: 100%
                    width: 100%
                    background-color: #00000054
                    display: flex
                    flex-direction: column
                    justify-content: flex-start
                    align-items: center
                    font-family: var(--font-cool)
                    transition: background-color 0.3s ease
                    position: relative
                    
                    .title
                        margin-top: 2vh
                        height: 4vh
                        width: 90%
                        transition: margin-top 0.3s ease
                        word-wrap: break-word
                        word-break: break-all

                        h1
                            font-size: 2vh
                    .subtitle
                        position: absolute
                        // transition: margin-top 0.3s ease
                        margin-top: 4vh
                        height: auto
                        width: 90%
                        word-wrap: break-word
                        word-break: break-all
                        bottom: 12vh
                        left: 5%
                        h2
                            

                            // display: none
                            opacity: 1
                            font-style: small
                            font-weight: normal
                            font-size: 1.8vh
                            transition: font-size, opacity 0.3s ease
                    .functions
                        
                        margin-top: 24vh
                        height: 10vh
                        width: 100%
                        background-color: var(--color-dark)
                        display: flex
                        flex-direction: row
                        justify-content: center
                        align-items: center
                        transition: margin-top 0.3s ease
                        .text_functions
                            width: 60%
                            height: 100%
                            display: flex
                            flex-direction: row
                            justify-content: space-evenly
                            form
                                height: 100%
                                width: 100%
                                display: flex
                                justify-content: left
                                align-items: center
                                margin-right: 5%
                                button
                                    font-family: var(--font-cool)
                                    width: 200px
                                    height: 60%
                                    display: flex
                                    justify-content: center
                                    align-items: center
                                    font-size: 1.5vh
                                    border: none
                                    background-color: var(--color-blue)
                                    color: var(--color-cream)
                                    border-radius: 15px
                                    transition: 0.3s ease
                                    &:hover
                                        cursor: pointer
                                        background-color: var(--color-hover-blue)
                                        box-shadow: 2px 2px 16px var(--color-shadow-blue)
                                        height: 65%
                                        
                                        font-size: 1.8vh
                        .icon_functions
                            width: 30%
                            display: flex
                            flex-direction: row
                            justify-content: flex-end
                            form
                                height: 5vw
                                width: 5vw
                                display: flex
                                justify-content: center
                                align-items: center
                                button
                                    font-family: var(--font-cool)
                                    width: 50px
                                    height: 50px
                                    display: flex
                                    justify-content: center
                                    align-items: center
                                    font-size: 2vh
                                    border: none
                                    background-color: var(--color-blue)
                                    color: var(--color-cream)
                                    border-radius: 150px
                                    transition: 0.3s ease
                                    &:hover
                                        cursor: pointer
                                        background-color: var(--color-hover-blue)
                                        box-shadow: 2px 2px 16px var(--color-shadow-blue)
                                        width: 55px
                                        height: 55px
                                        font-size: 2.15vh
                            
        #content.recogido
            margin-top: 12vh
        #content
            padding-top: 3vh
            top: 30
            height: auto
            min-height: 70vh
            width: 100%
            display: flex
            flex-direction: column
            justify-content: flex-start
            align-items: center
            background-color: var(--color-cream)
            transition: 0.3s ease
            margin-left: 0
            margin-right: 0
            z-index: 1
            color: black
            #content_container
                width: 70%
                height: 100%
                display: flex
                align-items: center
                flex-direction: column
                .input_container
                    margin-top: 2vh
                    width: 100%
                    height: 5vh
                    input, textarea 
                        width: 100%
                        height: 100%            
                        padding: 0.5rem 1rem
                        border: 2px solid #ccc
                        border-radius: 15px
                        background-color: #f9f9f9
                        color: #333
                        cursor: pointer
                        font-family: inherit
                        font-size: 1rem
                #description
                    height: 15vh
                .choose_container
                    margin-top: 4vh
                    width: 100%
                    height: auto
                    display: flex
                    align-items: center
                    flex-direction: column
                    .title
                        height: auto
                        width: 100%
                        text-align: center
                        font-weight: bold
                        font-size: larger
                        margin-bottom: 2vh
                    .start_titles
                        color: var(--color-blue)
                    .end_titles
                        color: var(--color-error)
                    .description
                        height: auto
                        width: 100%
                        text-align: center
                        font-size: small
                    .selector_container
                        width: 100%
                        height: 100%
                        display: flex
                        align-items: center
                        justify-content: center
                        flex-direction: row
                        .selector_radios
                            width: 50%
                            height: 100%
                            display: flex
                            align-items: center
                            flex-direction: column
                            .selectors
                                margin-bottom: 1vh
                                width: 100%
                                height: 100%
                                display: flex
                                align-items: center
                                justify-content: flex-start
                                flex-direction: row
                                p
                                    font-size: large
                                    width: 100%
                                    margin-left: 3%
                        .selector_date
                            width: 50%
                            height: 100%
                            display: flex
                            align-items: center
                            justify-content: center
                            div
                                width: 88%
                                height: 100%            
                                
                                input
                                    width: 100%
                                    height: 100%  
                                    padding: 0.5rem 1rem
                                    border: 2px solid #ccc
                                    border-radius: 15px
                                    background-color: #f9f9f9
                                    color: #333
                                    cursor: pointer

                            #custom_image_limit
                                display: flex
                                align-items: center
                                justify-content: center
                                flex-direction: column
                                text-align: center
                                p
                                    width: 100%
                                    margin-bottom: 1vh
                                #custom_images_count
                                    display: flex
                                    align-items: center
                                    justify-content: center
                                    width: 30%
                                    height: 30%
                                    margin-left: 30%
            button
                margin-top: 5vh
                margin-bottom: 10vh
                font-family: var(--font-cool)
                width: 30%
                height: 5vh
                display: flex
                flex-direction: row
                justify-content: center
                align-items: center
                font-size: 2vh
                border: none
                background-color: var(--color-blue)
                color: var(--color-cream)
                border-radius: 15px
                transition: 0.3s ease
                &:hover
                    
                    cursor: pointer
                    background-color: var(--color-hover-blue)
                    box-shadow: 2px 2px 5px var(--color-shadow-blue)
                    pheight: 6vh
                    width: 32%
                    box-sizing: content-box
                    font-size: 2.15vh
            .error_message
                color: var(--color-error)
                margin-top: 3vh
                font-weight: bold
                font-size: large

