.contain_global {
  width: 100%;
  min-height: 90vh;
  background-color: #171F1F;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contain_global .global {
  background-color: var(--color-cream);
  width: 1000px;
  color: var(--color-cream);
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-cream);
}
.contain_global .global .global_portada {
  display: flex;
  flex-direction: row;
  position: sticky;
  top: 10vh;
  width: 100%;
  min-width: 100%;
  z-index: 3;
  background-color: var(--color-dark);
}
.contain_global .global .global_portada #imagen.recogido {
  height: 20vh;
  aspect-ratio: 1/1;
}
.contain_global .global .global_portada #imagen.recogido img {
  height: 20vh;
}
.contain_global .global .global_portada #imagen {
  height: 40vh;
  position: sticky;
  transition: 0.3s ease;
  top: 10vh;
  aspect-ratio: 1/1;
}
.contain_global .global .global_portada #imagen img {
  transition: 0.3s ease;
  height: 40vh;
}
.contain_global .global .global_portada #portada.recogido {
  height: 20vh;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable {
  background-color: #045043;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .title {
  margin-top: 0;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .title h1 {
  margin-top: 3vh;
  font-size: 2vh;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .subtitle {
  margin-top: 0vh;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .subtitle h2 {
  font-size: 0vh;
  opacity: 0;
}
.contain_global .global .global_portada #portada.recogido .banner_shadowable .functions {
  margin-top: 6vh;
}
.contain_global .global .global_portada #portada.recogido .imagen_portada {
  height: 10vh;
}
.contain_global .global .global_portada #portada {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  width: 100%;
  max-width: 100%;
  position: sticky;
  transition: height 0.3s ease;
}
.contain_global .global .global_portada #portada .imagen_portada {
  transition: height 0.3s ease;
  position: absolute;
  z-index: -1;
  height: 30vh;
  width: 100%;
  overflow: hidden;
}
.contain_global .global .global_portada #portada .imagen_portada img {
  width: 100%;
}
.contain_global .global .global_portada #portada .banner_shadowable {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3294117647);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--font-cool);
  transition: background-color 0.3s ease;
  position: relative;
}
.contain_global .global .global_portada #portada .banner_shadowable .title {
  margin-top: 2vh;
  height: 4vh;
  width: 90%;
  transition: margin-top 0.3s ease;
  word-wrap: break-word;
  word-break: break-all;
}
.contain_global .global .global_portada #portada .banner_shadowable .title h1 {
  font-size: 2vh;
}
.contain_global .global .global_portada #portada .banner_shadowable .subtitle {
  position: absolute;
  margin-top: 4vh;
  height: auto;
  width: 90%;
  word-wrap: break-word;
  word-break: break-all;
  bottom: 12vh;
  left: 5%;
}
.contain_global .global .global_portada #portada .banner_shadowable .subtitle h2 {
  opacity: 1;
  font-style: small;
  font-weight: normal;
  font-size: 1.8vh;
  transition: font-size, opacity 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions {
  margin-top: 24vh;
  height: 10vh;
  width: 100%;
  background-color: var(--color-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: margin-top 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .text_functions {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .text_functions form {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-right: 5%;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .text_functions form button {
  font-family: var(--font-cool);
  width: 200px;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vh;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-cream);
  border-radius: 15px;
  transition: 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .text_functions form button:hover {
  cursor: pointer;
  background-color: var(--color-hover-blue);
  box-shadow: 2px 2px 16px var(--color-shadow-blue);
  height: 65%;
  font-size: 1.8vh;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .icon_functions {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .icon_functions form {
  height: 5vw;
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .icon_functions form button {
  font-family: var(--font-cool);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-cream);
  border-radius: 150px;
  transition: 0.3s ease;
}
.contain_global .global .global_portada #portada .banner_shadowable .functions .icon_functions form button:hover {
  cursor: pointer;
  background-color: var(--color-hover-blue);
  box-shadow: 2px 2px 16px var(--color-shadow-blue);
  width: 55px;
  height: 55px;
  font-size: 2.15vh;
}
.contain_global .global #content.recogido {
  margin-top: 12vh;
}
.contain_global .global #content {
  padding-top: 3vh;
  top: 30;
  height: auto;
  min-height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--color-cream);
  transition: 0.3s ease;
  margin-left: 0;
  margin-right: 0;
  z-index: 1;
  color: black;
}
.contain_global .global #content #content_container {
  width: 70%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contain_global .global #content #content_container .input_container {
  margin-top: 2vh;
  width: 100%;
  height: 5vh;
}
.contain_global .global #content #content_container .input_container input, .contain_global .global #content #content_container .input_container textarea {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
}
.contain_global .global #content #content_container #description {
  height: 15vh;
}
.contain_global .global #content #content_container .choose_container {
  margin-top: 4vh;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contain_global .global #content #content_container .choose_container .title {
  height: auto;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 2vh;
}
.contain_global .global #content #content_container .choose_container .start_titles {
  color: var(--color-blue);
}
.contain_global .global #content #content_container .choose_container .end_titles {
  color: var(--color-error);
}
.contain_global .global #content #content_container .choose_container .description {
  height: auto;
  width: 100%;
  text-align: center;
  font-size: small;
}
.contain_global .global #content #content_container .choose_container .selector_container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.contain_global .global #content #content_container .choose_container .selector_container .selector_radios {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contain_global .global #content #content_container .choose_container .selector_container .selector_radios .selectors {
  margin-bottom: 1vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
}
.contain_global .global #content #content_container .choose_container .selector_container .selector_radios .selectors p {
  font-size: large;
  width: 100%;
  margin-left: 3%;
}
.contain_global .global #content #content_container .choose_container .selector_container .selector_date {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contain_global .global #content #content_container .choose_container .selector_container .selector_date div {
  width: 88%;
  height: 100%;
}
.contain_global .global #content #content_container .choose_container .selector_container .selector_date div input {
  width: 100%;
  height: 100%;
  padding: 0.5rem 1rem;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
}
.contain_global .global #content #content_container .choose_container .selector_container .selector_date #custom_image_limit {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.contain_global .global #content #content_container .choose_container .selector_container .selector_date #custom_image_limit p {
  width: 100%;
  margin-bottom: 1vh;
}
.contain_global .global #content #content_container .choose_container .selector_container .selector_date #custom_image_limit #custom_images_count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 30%;
  margin-left: 30%;
}
.contain_global .global #content button {
  margin-top: 5vh;
  margin-bottom: 10vh;
  font-family: var(--font-cool);
  width: 30%;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  border: none;
  background-color: var(--color-blue);
  color: var(--color-cream);
  border-radius: 15px;
  transition: 0.3s ease;
}
.contain_global .global #content button:hover {
  cursor: pointer;
  background-color: var(--color-hover-blue);
  box-shadow: 2px 2px 5px var(--color-shadow-blue);
  pheight: 6vh;
  width: 32%;
  box-sizing: content-box;
  font-size: 2.15vh;
}
.contain_global .global #content .error_message {
  color: var(--color-error);
  margin-top: 3vh;
  font-weight: bold;
  font-size: large;
}/*# sourceMappingURL=newsession.css.map */